.aboutme{
    padding: 1rem 5vw;
    display: flex;
    flex-direction: column;
}

.aboutme >h2{
    margin-bottom: 1rem;
}

.article{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;    
    text-align: center;
    margin-bottom: 1rem;
}

.article svg{
    width: 100px;
    object-fit: cover;
}
.article:nth-child(2){
    flex-direction: row;
}

.article:nth-child(2) p{
    text-align: justify;
    width: 60%;
    font-size: 1.25rem;
}

.article .svgtech1{
    width: 300px;
    height: 300px;
    animation: svgtech1 10s infinite;
    /* background: radial-gradient(rgba(255, 255, 255, 0.679), transparent 20%); */
    /* clip-path: circle(75px) ; */
}

.article .svgtech1 path{
    stroke: white;
    /* stroke-dasharray: 1000, 1000; */
    stroke-dashoffset: 10000;
    opacity: 0;
    fill: transparent;
    animation: svgtech1-path 3s forwards;
    stroke-width: 15px;
    stroke-linejoin: round;
}

@keyframes svgtech1 {
    0%{
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateZ(180deg);
    }
    60%{
        transform: rotateZ(-90deg);
    }
    80%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes svgtech1-path {
    0%{
        stroke-dasharray: 10000, 13000;
    }
    99%{
        stroke-dashoffset: 10000;
    }
    100%{
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-dasharray: 10000, 0;
    }
}

@media (max-width:424px) {
    .article{
        flex-direction: column !important;
    }
    .article p{
        width: 100%;
    }
    .article:nth-child(2) p{
        width: 100%;
    }
}