.aboutme{
    padding: 0rem 5vw 1rem 5vw;
    display: flex;
    flex-direction: column;
    animation: bg-about 1s;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

@keyframes bg-about {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.aboutme h2{
    margin-bottom: 1rem;
    align-items: center;
}

.article{
    display: flex;
    opacity: 0;
    align-items: center; 
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;    
    text-align: center;
    /* margin-bottom: 5rem; */
    min-height: calc(100vh - 4.25rem);  
    scroll-snap-align: start;
    transition: all 1s;
}

.boxIcons{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.article svg{
    width: 100px;
    object-fit: cover;
}
.article:nth-child(1){
    /* margin-bottom: 2rem; */
    flex-direction: row;
    justify-content: center;
}

.article:nth-child(1) p{
    text-align: justify;
    width: 60%;
    font-size: 1.5rem;
}

.article .svgtech1{
    width: 300px;
    height: 300px;
    animation: svgtech1 10s infinite;
    /* background: radial-gradient(rgba(255, 255, 255, 0.679), transparent 20%); */
    /* clip-path: circle(75px) ; */
}

.article .svgtech1 path{
    stroke: white;
    /* stroke-dasharray: 1000, 1000; */
    stroke-dashoffset: 10000;
    opacity: 0;
    fill: transparent;
    animation: svgtech1-path 3s forwards;
    stroke-width: 15px;
    stroke-linejoin: round;
}

@keyframes svgtech1 {
    0%{
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateZ(180deg);
    }
    60%{
        transform: rotateZ(-90deg);
    }
    80%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

@keyframes svgtech1-path {
    0%{
        stroke-dasharray: 10000, 13000;
    }
    99%{
        stroke-dashoffset: 10000;
    }
    100%{
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-dasharray: 10000, 0;
    }
}

@media (max-width:424px) {
    .article{
        flex-direction: column !important;
    }
    .article p{
        width: 100%;
    }
    .article:nth-child(1) p{
        width: 100%;
    }
}