@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');

.hero{
    /* padding: 2rem; */
    display: grid;
    place-items: center;
    place-content: center;
    
    background-size: 200%;
    /* background-blend-mode: darken; */
    background-clip: text;
    height: 100%;
    animation: bg-image 8s forwards;
    background-repeat: no-repeat;
    background-size: 100%;
    /* padding: 1rem; */
    background-image: radial-gradient(at 60% 50%, white, transparent 65%);
}

@keyframes bg-image {
    0%{
        background-position: 200px 0px;
        opacity: 0;
        /* background-size: 0%; */
    }
    /* 60%{
        background-position: 130% 10%;
    }
    80%{
        background-position: 110% -10%;
    } */
    100%{
        background-size: 150%;
        opacity: 1;
        background-position: 0px 0px;
    }
    /* 100%{
        background-position: -10% 10%;
    } */
}

.hero h1, .hero h2{
    color: transparent;
    
}

.hero h1{
    
    font-family: 'Oswald', sans-serif;
    min-width: 105%;
    font-size: 6rem;
    text-align: end;
    letter-spacing: 10px;
    font-weight: 500;
    line-height:6rem;
}
.hero h2{
    padding: .5rem;
    min-width: 104%;
    font-size: 1.75rem;
    text-align: end;
    letter-spacing: 2px;
    font-weight: 400;
}



@media (max-width: 424px) {
    .hero h1{
        font-size: 5rem;
        line-height:5rem;
    }
}

@media (max-width: 320px) {
    .hero h1{
        font-size: 4rem;
        line-height:4rem;
    }
    .hero h2{
        font-size: 1.5rem;
    }
}
