.hero{
    /* padding: 2rem; */
    display: grid;
    place-items: center;
    place-content: center;
    background-image: radial-gradient(at 50% 55%, white, transparent 60%);
    background-size: 200%;
    /* background-blend-mode: darken; */
    background-clip: text;
    height: 100%;
    animation: bg-image 8s forwards;
    /* padding: 1rem; */
}

@keyframes bg-image {
    0%{
        opacity: 0;
    }
    /* 60%{
        background-position: 130% 10%;
    }
    80%{
        background-position: 110% -10%;
    } */
    100%{
        opacity: 1;
        background-position: -100px -75px;
    }
    /* 100%{
        background-position: -10% 10%;
    } */
}

.hero h1, .hero h2{
    color: transparent;
}

.hero h1{
    
    font-family: 'Raleway', sans-serif;
    min-width: 105%;
    font-size: 6rem;
    text-align: end;
    letter-spacing: 5px;
}
.hero h2{
    padding: .5rem;
    min-width: 105%;
    font-size: 1.75rem;
    text-align: end;
    letter-spacing: 2px;
}



@media (max-width: 424px) {
    .hero h1{
        font-size: 5rem;
    }
}

@media (max-width: 320px) {
    .hero h1{
        font-size: 4rem;
    }
    .hero h2{
        font-size: 1.5rem;
    }
}